<div class="main">
 <div class="card devise-card">
   <div class="form-wrap">
     <div class="form-group text-center">

<h3>プロフィール編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<h5>公開情報</h5>
  <div class="field">
    <%= f.label :フルネーム %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :ユーザーネーム %><br />
    <%= f.text_field :username, autofocus: true %>
   </div>
  
   <div class="field">
    <%= f.label :ウェブサイト %><br />
    <%= f.text_field :website, autofocus: true %>
   </div>
  
   <div class="field">
    <%= f.label :自己紹介 %><br />
    <%= f.text_field :introduction, autofocus: true %>
   </div>
 
   <h5>非公開情報</h5>  

   <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
   </div>
  
   <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :phone, autofocus: true %>
   </div>
   
   <div class="field">
    <%= f.label :性別 %><br />
    <%= f.text_field :sex, autofocus: true %>
   </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
   
    <h5>パスワードを変更する</h5>
   <div class="field">
      <%= f.label :新しいパスワード入力 %>
      <%= f.password_field :password, class: 'form-control' %>
　 </div>
　 <div class="field">
      <%= f.label :password_confirmation, "新しいパスワードを入力（再確認）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    
 <h5>セキュリティ確認</h5>
  <div class="field">
    <%= f.label :変更内容を更新する場合、現在のパスワードを入力してください。 %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>

  
   <div class="gravatar_edit">
    <%= image_tag avatar_url(@user), class: "round-img" %>
   <a href="http://gravatar.com/emails" target="_blank">change</a>
   </div>
   
<% end %>

<h3>アカウントを削除しますか？</h3>

<h6><%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></h6>

<%= link_to "Back", :back %>



</div>
</div>
</div>
</div>

