<div class="main">
 <div class="card devise-card">
   <div class="form-wrap">
     <div class="form-group text-center">

<h2>登録して友達の写真をチェックしよう</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :フルネーム%><br />
    <%= f.text_field :name, autofocus: true  %>
  </div>
  
  <div class="field">
    <%= f.label :ユーザーネーム%><br />
    <%= f.text_field :username, autofocus: true  %>
  </div>
  

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワードを再入力 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div class="terms-of-service">
    利用規約を読んでから登録してください
     <%= link_to "利用規約", '/terms/show' %>
  </div> 

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
     </div>
    </div>
   </div>
  </div>