<div class="center">
<h1>友達の写真をチェックしよう</h1>
<div class="row">
<%  @users.each do |user| %>
<% @posts.each do |post| %>
 <div class="col-md-4" >
 <div>
 <h6><%= post.caption %></h6>
 <%= link_to post_path(post) do %>
  <%= image_tag post.photos.first.image.url(:medium) %>
<% end %>
</div>
</div>
<% end %>
<% end %>
</div>
</div>

