<% provide(:title, 'All users') %>
<h1>All users</h1>


<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <p><%= link_to "マイページへ", user_path(current_user),class: "btn btn-primary" %></p>

<% end %>




