
<div class="profile-wrap">
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row">
        <uL>
        <li><h3><%= @user.name %></h3></li>
        <li>ユーザー名: <%= @user.username %></li>
        <li>Website：<%= @user.website %></li>
        <li>投稿数：<%= @user.posts.count %></li>
        <li>自己紹介：<%= @user.introduction %></li>
        </ul>
        <% if @user == current_user %>
       <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
        </div>
      <% end %>
    
　　　<%= render 'stats' %>
　　　<%= render 'follow_form' %>
　　

        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                
              </div>
              <div class="list-group text-center">
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
                
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class ="center">
<div class="row">
<%  @user.posts.each do |post| %>

 <div class="col-md-4" >
 <div>
 <h6><%= post.caption %></h6>
 <%= link_to post_path(post) do %>
  <%= image_tag post.photos.first.image.url(:medium) %>
<% end %>
</div>
</div>
<% end %>
</div>

