<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "K-site", following_posts_user_path(current_user) ,class: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">

      <li>
          <%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %>
      </li>
  
     <li>
    <dl class="searchbox">
    <%= search_form_for @search, url: posts_path do |f| %>
    <dt><%= f.text_field :caption_cont ,placeholder: '検索する投稿を入力...' %></dt>
    <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
  <% end %>

</dl>
      </li>
    </dl>
        </li>
        
  <li class="notification"><%= link_to '通知', notifications_path, class:"btn"  %>
  <% if unchecked_notifications.any? %>
    <i class="fa fa-circle notification-circle "></i>
  <% end %>

      </ul>
    </div>
  </div>
</nav>