<div class="footer">
<div class="footer-center">
  <%= link_to image_tag('parts10.png', class: "camera"), new_post_path %>
  <p>写真を投稿する</P>
</div>
  <div class="footer-center">
  <%= link_to image_tag('parts10.png', class: "camera"), new_post_path %>
  <p>写真を投稿する</P>
  </div>
  </div>