<!DOCTYPE html>
<html>
  <head>
    <title>K-site</title>
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# <nav>...</nav>の間のコードを消して下の一行に入れ替える %>
  
    <%= render 'partial/navbar' if current_user %>
    <% if flash[:notice] %>
         <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
         <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
     <%= render 'layouts/footer' if current_user %>
  </body>
</html>